.footer {
    padding-top: 50px;
    background: #f6f6f6 !important;
    color: #000;
}

.topberIcons {
    font-size: 28px;
    color: #C10230;
    cursor: pointer;
}

.powerfullitemlist {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tickIcons {
    color: #C10230 !important;
    font-size: 25px;
    margin-right: 5px;

}

.itemsLink {
    padding: 2px 0;
}

.bottomFooter {
    background: #f6f6f6;
    padding: 10px 0;

}

.bottomFooterWrp {
    justify-content: space-between;
}