.container{
    max-width: 1400px;
    display: block;
    margin:0 auto ; 
}
.footer{
    padding: 50px 0;
    background: #f6f6f6!important;
}
.footerHeading{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footerInfo{
    text-align: center;
}
.footerDescription{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7rem;
}
.fContact{
    margin: 30px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.fContact>a{
text-decoration: underline;
color: #0563C1;
font-size: 18px;
font-weight: 400;
}
.footerAddress{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.footerLogo{
    text-align: center;
    margin-top: 50px;
}